.landing-item {
  --border-style: 5px solid;

  margin: 6em 0;

  &.no-pic {
    margin: 3em 0;
  }

  .wrapper {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;

    transform: translateX(-50%);

    background-repeat: repeat;

    box-shadow: 0 1em 2em 0em hsla(0, 0%, 0%, 0.29);
    border-top: var(--border-style) var(--accent-color);

    user-select: none;

    .nested {
      @include mq($until: tablet) {
        width: 95%;
      }
      @include mq($from: tablet) {
        width: 50%;
      }

      margin: 0 auto;
    }
  }
}
